<div class="zoomIn animated faster">
    <hr>
    <div class="row">
        <div class="col">
            <img [src]="" alt="">
        </div>
        <div class="col">
            <h3>Pelicula</h3>
            <p><span class="badge badge-danger">Estreno</span></p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus voluptas architecto ab. Doloribus, reprehenderit laudantium, totam minus possimus, nihil corrupti laborum ex eveniet natus fugiat illum praesentium esse molestias a. Lorem ipsum dolor,
            sit amet consectetur adipisicing elit. Repellendus delectus praesentium cumque soluta voluptatibus vel, sint eos, voluptate eligendi velit similique. Hic ullam autem blanditiis similique enim deleniti recusandae esse!
            <hr>
            <div class="row">
                <div class="col text-right">
                    <a class="btn btn-default" [routerLink]="['/home']"><i class="fas fa-chevron-left"></i> Back</a>
                </div>
            </div>
        </div>
    </div>
</div>